.header {
  border: 1px;
  border-style: solid;
  border-color: rgb(236, 236, 236);
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 0 15px;
  align-items: center;
  margin: 0 auto;
}

.section {
  padding: 60px 0px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .section {
    padding: 94px 0px;
  }
}
.body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #000000;
  max-width: 100%;
  margin: auto;
}

@media screen and (min-width: 480px) {
  .body {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .body {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .body {
    max-width: 1600px;
  }
}
h1,
h2,
h3,
p,
ul {
  font-style: normal;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.page-header {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  justify-content: space-between;
  padding: 10px 15px;
}

.nav__logo {
  text-decoration: none;
}
.nav__logo--blue {
  color: #2196f3;
}

.nav {
  display: flex;
  align-items: center;
}
.nav__menu {
  list-style: none;
  border-radius: 4px;
  display: flex;
  gap: 46px;
  padding-left: 93px;
}
.nav__elem {
  display: block;
}

.contacts .contacts__elem:not(:last-child):not(:last-child) {
  margin-right: 50px;
}
.contacts__email, .contacts__phone {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  text-decoration: none;
  color: #757575;
}

@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
}
@media screen and (min-width: 1199px) {
  .contacts {
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
  }
}
.nav__logo,
.footer-logo__link {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  color: #212121;
}

.nav__link {
  color: #000000;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav__link--blue {
  color: #2196f3;
  position: relative;
}
.nav__link--blue::before {
  content: "";
  display: flex;
  text-align: center;
  width: 100%;
  height: 1px;
  bottom: -1px;
  background-color: #2196f3;
  border: 2px solid;
  border-radius: 10px;
  position: absolute;
}
.nav__link:hover {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #2196f3;
  cursor: pointer;
  fill: #2196f3;
  position: relative;
}
.nav__link:hover::after {
  content: "";
  display: flex;
  text-align: center;
  width: 100%;
  height: 1px;
  bottom: -1px;
  background-color: #2196f3;
  border: 2px solid;
  border-radius: 10px;
  position: absolute;
}

.nav__logo--blue:hover,
.contacts__email:hover,
.contacts__phone:hover,
.contacts__email:focus,
.contacts__phone:focus {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #2196f3;
  cursor: pointer;
  fill: #2196f3;
  position: relative;
}

.icon-envelope {
  width: 16px;
  height: 12px;
}

.icon-smartphone {
  height: 16px;
  width: 10px;
}

@media screen and (max-width: 767px) {
  .nav__menu,
.contacts {
    visibility: hidden;
    position: absolute;
  }
}
.menu-toggle {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}
.menu-toggle__svg:hover {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2196f3;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #ffffff;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: black;
}

.mobile-menu__lists {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  align-self: flex-start;
}

.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  color: black;
  text-decoration: none;
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #2196f3;
}
.mobile-menu__link--blue {
  color: #2196f3;
}

.mobile-menu__contacts-list {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.mobile-menu__contacts-elem {
  text-decoration: none;
}

.mobile-menu__email {
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  color: #757575;
}
.mobile-menu__email:hover, .mobile-menu__email:focus {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #2196f3;
  cursor: pointer;
}

.mobile-menu__telephone {
  text-decoration: none;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  color: #2196f3;
  cursor: pointer;
}
.mobile-menu__telephone:hover, .mobile-menu__telephone:focus {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #2196f3;
  cursor: pointer;
}

.mobile-menu__social-list {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
}

.mobile-menu__social-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  color: #2196f3;
  cursor: pointer;
}

.mobile-menu__social-link-line {
  color: rgba(33, 33, 33, 0.2);
}

.banner {
  background-color: #2f303a;
  background-size: 100%;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/banner.jpg);
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .banner {
    background-image: url(../images/mobile/banner2x.jpg);
  }
}
@media screen and (min-width: 360px) and (max-width: 768px) {
  .banner {
    padding: 122px 0;
  }
  .banner__text {
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1199px) {
  .banner {
    background-image: url(../images/tablet/banner.jpg);
    padding: 125px 0;
  }
  .banner__text {
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-resolution: 2dppx) {
  .banner {
    background-image: url(../images/tablet/banner2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .banner {
    background-image: url(../images/banner.jpg);
    padding: 200px 0;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-resolution: 2dppx) {
  .banner {
    background-image: url(../images/banner2x.jpg);
  }
}
.banner__text {
  color: #ffffff;
  margin: auto;
  text-align: center;
  max-width: 385px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
}

@media screen and (min-width: 1200px) {
  .banner__text {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
    letter-spacing: 2px;
    padding-bottom: 30px;
  }
}
.banner__button {
  background-color: #2196f3;
  border: none;
  font-size: 16px;
  color: #ffffff;
  padding: 16px 48px;
  border-radius: 4px;
  margin-right: auto;
  margin-left: auto;
}
.banner__button:hover {
  cursor: pointer;
}

.main-content {
  padding: 0px;
  margin: 60px auto;
}
.main-content__list {
  gap: 30px;
}
.main-content__elem__title {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.641;
  color: #212121;
  padding: 30px 0px 10px 0px;
}
.main-content__elem__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: #757575;
  letter-spacing: 0.3px;
  max-width: 100%;
  padding-bottom: 30px;
}
.main-content__icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(245, 244, 250);
  min-width: 270px;
  min-height: 120px;
}
.main-content__icon {
  height: 70px;
  width: 70px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .main-content__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .main-content__elem {
    flex-basis: calc(50% - 15px);
    width: 100%;
  }
  .main-content__elem__title {
    text-transform: uppercase;
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .main-content__list {
    display: flex;
  }
}
.about-us {
  padding: 0px;
  margin-bottom: 94px;
}
.about-us__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: #212121;
  text-align: center;
  padding-bottom: 50px;
}
.about-us__list {
  display: flex;
  column-gap: 30px;
}
.about-us__elem {
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.about-us__img-box {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-us__img-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  color: #ffffff;
}

@media screen and (max-width: 1199px) {
  .about-us {
    display: none;
  }
}
.our-team {
  background-color: #f5f4fa;
}
.our-team__img {
  width: 100%;
}
.our-team__picture {
  width: 100%;
}
.our-team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: #212121;
  text-align: center;
  padding-bottom: 50px;
}
.our-team__list {
  column-gap: 30px;
}
.our-team__elem {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.our-team__text-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
  margin-bottom: 16px;
}
.our-team__box-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.17;
  color: #212121;
}
.our-team__job {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  color: #757575;
  text-align: center;
}
.our-team__social-links-list {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}
.our-team__social-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  background-color: #ffffff;
  fill: #afb1b8;
}
.our-team__social-link:hover, .our-team__social-link:focus {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #ffffff;
  background-color: #2196f3;
  border-radius: 50%;
}
.our-team__social-icon {
  width: auto;
  height: 20px;
}

@media screen and (min-width: 360px) and (max-width: 767px) {
  .our-team__title {
    padding-bottom: 30px;
  }
  .our-team__list {
    column-gap: 30px;
  }
  .our-team__elem {
    padding-bottom: 24px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-team__title {
    padding-bottom: 30px;
  }
  .our-team__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    justify-content: center;
  }
  .our-team__elem {
    flex-basis: calc(50% - 15px);
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .our-team__list {
    display: flex;
  }
  .our-team__img {
    max-width: 279px;
  }
  .our-team__elem {
    width: 100%;
  }
}
.our-clients {
  padding: 0px;
}
.our-clients__header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: #212121;
  padding-bottom: 30px;
}
.our-clients__list {
  display: flex;
  column-gap: 30px;
  row-gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.our-clients__elem {
  width: 100%;
  border: rgb(175, 177, 184) 1px solid;
  border-radius: 4px;
  fill: #afb1b8;
}
.our-clients__elem:hover, .our-clients__elem:focus {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2196f3;
  border: #2196f3 1px solid;
}
.our-clients__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 16px 0;
}
.our-clients__svg {
  width: 106px;
  height: 60px;
}

@media screen and (min-width: 360px) and (max-width: 767px) {
  .our-clients {
    margin: 60px 0px;
  }
  .our-clients__header {
    padding-bottom: 30px;
  }
  .our-clients__elem {
    flex-basis: calc(50% - 15px);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-clients {
    margin: 60px 0px;
  }
  .our-clients__elem {
    flex-basis: calc(33.3333333333% - 20px);
  }
}
@media screen and (min-width: 1200px) {
  .our-clients {
    margin: 94px 0px;
  }
  .our-clients__header {
    padding-bottom: 50px;
  }
  .our-clients__list {
    width: 100%;
  }
  .our-clients__elem {
    flex-basis: 0%;
    min-width: calc(16.6666666667% - 30px);
    min-height: 92px;
  }
}
.footer-newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.footer-newsletter__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  color: #ffffff;
}
.footer-newsletter__form-input {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  height: 50px;
  width: 100%;
  background-color: rgb(47, 48, 58);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: #eee;
  outline: none;
  padding-left: 20px;
  letter-spacing: 1px;
}
.footer-newsletter__form-input:focus {
  border: none;
  border: 1px solid #ffffff;
}
.footer-newsletter__button {
  height: 50px;
  width: 200px;
  margin-top: 20px;
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.15);
  padding: 0px;
}
.footer-newsletter__button:hover {
  cursor: pointer;
}
.footer-newsletter__button-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.footer-newsletter__button-svg {
  fill: #f5f4fa;
  width: auto;
  height: 20px;
}
.footer-newsletter__button-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: #ffffff;
  letter-spacing: 2px;
}
.footer-newsletter__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.footer-newsletter__label {
  width: 80%;
}

.footer-submit-email-label-and-button {
  width: 90%;
}

@media screen and (min-width: 360px) and (max-width: 480px) {
  .footer-newsletter__label {
    width: 100%;
  }
  .footer-submit-email-label-and-button {
    width: 100%;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer-newsletter__label {
    width: 100%;
  }
  .footer-submit-email-label-and-button {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-newsletter {
    padding-top: 60px;
  }
  .footer-submit-email-label-and-button {
    width: 70%;
  }
}
@media screen and (min-width: 1200px) {
  .footer-newsletter {
    flex-basis: 49%;
    align-items: stretch;
  }
  .footer-newsletter__form {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    width: 100%;
  }
  .footer-newsletter__button {
    margin-top: 0px;
  }
  .footer-newsletter__title {
    align-self: flex-start;
    padding-top: 13px;
  }
}
.footer-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}
.footer-social__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  color: #ffffff;
}
.footer-social__list {
  display: flex;
  column-gap: 10px;
}
.footer-social__link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  fill: #ffffff;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.footer-social__link:hover, .footer-social__link:focus {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #2196f3;
}
.footer-social__icon {
  width: auto;
  height: 20px;
}

.footer-logo__link {
  color: #ffffff;
  text-decoration: none;
}

.footer-contact__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.footer-contact__adress {
  color: #ffffff;
  font-size: 14px;
}
.footer-contact__email, .footer-contact__phone {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.3764705882);
  font-size: 14px;
}
.footer-contact__email:hover, .footer-contact__email:focus, .footer-contact__phone:hover, .footer-contact__phone:focus {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #2196f3;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .footer-social__title {
    padding-top: 13px;
  }
}
.section--padding60px {
  padding: 60px 0px;
}

.footer {
  background-color: #2f303a;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
.footer__contact {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.footer .footer-contact__list {
  display: flex;
  align-items: center;
}
.footer .footer-contact__adress {
  text-align: center;
}

@media screen and (min-width: 360px) and (max-width: 767px) {
  .footer--flex-direction {
    row-gap: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer--flex-direction {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .footer__contact {
    margin: 0px auto;
    justify-content: center;
  }
  .footer-social {
    flex-basis: 24%;
    margin: 0px auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer--flex-direction {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.portfolio-buttons {
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 8px;
  padding-bottom: 50px;
}
.portfolio-buttons__item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  color: #212121;
  padding: 6px 22px;
  letter-spacing: 1px;
  border-radius: 4px;
  border-style: none;
  background: #f5f4fa;
}
.portfolio-buttons__item:focus {
  background: #2196f3;
  color: #ffffff;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-color: #2f303a;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-buttons__item:hover {
  background: #2196f3;
  color: #ffffff;
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-items__item {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}
.portfolio-items__item:hover, .portfolio-items__item:focus {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item__text {
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  padding: 20px 24px;
}
.portfolio-item__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.875;
  text-decoration: none;
  color: #212121;
}
.portfolio-item__link {
  text-decoration: none;
  color: #212121;
}
.portfolio-item__type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-decoration: none;
  color: #757575;
}
.portfolio-item__img {
  max-width: 450px;
  width: 100%;
  height: auto;
}

/* overlay portfolio-elems */
.portfolio__item-box {
  position: relative;
  overflow: hidden;
}
.portfolio__item-box:hover .portfolio-item__img-overlay {
  transform: translatex(0);
}

.portfolio-item__img-overlay {
  position: absolute;
  top: 1px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition: transform 250ms ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-item__img-overlay-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  color: #ffffff;
  width: 80%;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-items__list {
    display: flex;
    column-gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .portfolio-items__item {
    flex-basis: calc(50% - 20px);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-items__list {
    display: flex;
    column-gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .portfolio-items__item {
    flex-basis: calc(33% - 60px);
  }
  .portfolio-item__img {
    max-width: 370px;
  }
}
.backdrop {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms, visibility 250ms;
}

.modal {
  position: relative;
  background-color: #fefefe;
  margin: 25% auto;
  border: 1px solid #888;
  width: 528px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.1);
  font-weight: bold;
  fill: black;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.close-button:hover {
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: red;
}
.close-button:active {
  border-color: red;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/*

MODAL

*/
.modal {
  width: 100%;
  max-width: 570px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  margin-top: 40px;
}
.modal-form__name {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0px;
  text-align: center;
  color: rgb(33, 33, 33);
}
.modal-form__inputs-box {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  height: 85%;
  width: 85%;
}
.modal-form__input-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.modal-form__input-elem {
  height: 100%;
  width: 100%;
  position: relative;
}
.modal-form__input {
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  margin-top: 4px;
}
.modal-form__input:hover {
  border: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid #2196f3;
  outline: none;
}
.modal-form__input:focus {
  border: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid #2196f3;
  outline: none;
}
.modal-form__input__label-name {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: rgb(117, 117, 117);
}
.modal-form__input--padding-left37 {
  padding-left: 37px;
}
.modal-form__input--textarea-paddings {
  height: 120px;
  padding: 12px 16px;
  font-size: 12px;
}
.modal-form__input--textarea-paddings::placeholder {
  color: rgba(117, 117, 117, 0.5019607843);
}
.modal-form__label-svg {
  position: absolute;
  top: calc(50% + 5px);
  left: 15px;
}
.modal-form__policy-text {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 3px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.875;
  color: #757575;
  letter-spacing: 0.42px;
}
.modal-form__policy-text::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid black;
  border-radius: 1px;
  margin-right: 4px;
}
.modal-form__policy-link {
  color: #2196f3;
}
.modal-form__input-elem:focus-within {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2196f3;
}
.modal-form__policy-checkbox:checked + .modal-form__policy-text::before {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #2196f3;
  border: none;
  background-image: url(../images/checkmark.svg);
}

.visually-hidden {
  visibility: hidden;
  position: absolute;
}

.modal-btn {
  margin-top: 15px;
  margin-bottom: 40px;
}
.modal-btn:hover {
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */