@use "../utils/colors";
@use "../utils/fonts";
@use "./paddings.scss";
@use "../utils/mixins";
.section--padding60px {
  padding: 60px 0px;
}
.footer {
  background-color: colors.$background-dark-color;
  @include mixins.font-sizes(400, 14, 1.7);
  &--flex-direction {
    flex-direction: column;
    row-gap: 60px;
    justify-content: center;
  }
  &__contact {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .footer-contact {
    &__list {
      display: flex;
      align-items: center;
    }
  }
}
.footer-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  &__title {
    @include mixins.font-sizes(700, 14, 1.17);
    color: colors.$white-color;
  }
  &__list {
    display: flex;
    column-gap: 10px;
  }
  &__link {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    fill: colors.$white-color;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);

    &:hover {
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      background-color: colors.$brand-blue-color;
    }
  }
  &__icon {
    width: auto;
    height: 20px;
  }
}
.footer-logo__link {
  color: colors.$white-color;
  text-decoration: none;
}
.footer-contact__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.footer-contact__adress {
  color: colors.$white-color;
  font-size: 14px;
}
.footer-contact__email,
.footer-contact__phone {
  text-decoration: none;
  color: #ffffff60;
  font-size: 14px;
  &:hover {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: colors.$brand-blue-color;
    cursor: pointer;
  }
}
.footer-newsletter {
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  gap: 20px;
  align-items: center;
  width: 100%;
  &__title {
    text-transform: uppercase;
    @include mixins.font-sizes(700, 14, 1.17);
    color: colors.$white-color;
  }
  &__form-input {
    @include mixins.font-sizes(400, 16, 1.875);
    height: 50px;
    width: 100%;
    background-color: rgba(47, 48, 58, 1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    color: #eee;
    outline: none;
    padding-left: 20px;
    letter-spacing: 1px;
    &:focus {
      border: none;
      border: 1px solid colors.$white-color;
    }
  }
  &__button {
    height: 50px;
    width: 200px;
    margin-top: 20px;
    background-color: colors.$brand-blue-color;
    border: none;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.15);
    padding: 0px;
    &:hover {
      cursor: pointer;
    }
    &-content {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 24px;
    }
    &-svg {
      fill: colors.$almost-white-color;
      width: auto;
      height: 20px;
    }
    &-text {
      @include mixins.font-sizes(700, 16, 1.875);
      color: colors.$white-color;
      letter-spacing: 2px;
    }
  }
}
.footer-newsletter__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.footer-newsletter__label {
  width: 80%;
}
.footer-submit-email-label-and-button {
  width: 90%;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer {
    &--flex-direction {
      flex-direction: row;
      row-gap: 60px;
      flex-wrap: wrap;
      align-items: flex-start;
    }
    &__contact {
      flex-basis: 24%;
      margin: 0px auto;
    }
    &-social {
      flex-basis: 24%;
      margin: 0px auto;
    }
  }
  .footer-newsletter__label {
    width: 80%;
  }
  .footer-submit-email-label-and-button {
    width: 70%;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    &--flex-direction {
      flex-direction: row;
      row-gap: 60px;
      justify-content: center;
    }
  }
}
