@use "../utils/colors";
@use "../utils/fonts";
@use "../utils/mixins";
@use "../components/footer-newsletter";
@use "../components/footer-social-and-logo";

.section--padding60px {
  padding: 60px 0px;
}
.footer {
  background-color: colors.$background-dark-color;
  @include mixins.font-sizes(400, 14, 1.7);

  &__contact {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .footer-contact {
    &__list {
      display: flex;
      align-items: center;
    }
    &__adress {
      text-align: center;
    }
  }
}
@media screen and (min-width: 360px) and (max-width: 767px) {
  .footer {
    &--flex-direction {
      row-gap: 60px;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer {
    &--flex-direction {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
    }
    &__contact {
      margin: 0px auto;
      justify-content: center;
    }
    &-social {
      flex-basis: 24%;
      margin: 0px auto;
    }
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    &--flex-direction {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
  }
}
